body {
  background-color: #000000;
  color: #00ff00;
}

h1, h2, nav {
  text-align: center;
}

nav {
  background-color: #00ff00;
  color: #000000;
  padding: 10px;
}

nav a {
  color: #000000;
}

nav a:hover {
  color: #00ff00;
}

ul {
  list-style-type: none;
  text-align: center;
}

li {
  margin: 10px;
}
