body {
  background-color: #4C4C4C;
  color: #FFFFFF;
  text-align: center;
  top: 30%;
  left: 50%;
  min-height: 100vh;
}

h1 {
  text-align: center;
  padding: 20px;
}

#block {
  background-color: #333333;
  padding: 105px;
  overflow: visible;
  text-overflow: ellipsis;
  width: 60%;
  margin: 0 auto;
}

#block p, #block h1, #block h2, #block h3, #block label, #block pre code {
  transform: scale(1.1);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

pre code {
  background-color: grey;
  border: .5px solid #999;
  display: block;
  width: 30%;
  margin: 0 auto;
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
