body {
  background-color: #4C4C4C;
  color: #FFFFFF;
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
}

h1 {
  text-align: center;
  padding: 20px;
}

#content-container {
  overflow: visible;
}

#block {
  background-color: #333333;
  padding: 105px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

pre code {
  background-color: grey;
  border: 1px solid #999;
  display: block;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
